<ion-view view-title="Playlists">
  <ion-content>
  	<ion-refresher
	    pulling-text="อัพเดตข้อมูล"
	    on-refresh="doRefresh()">
  	</ion-refresher>

    <!--<ion-list>
      <ion-item ng-repeat="chat in chats" href="#/app/CropDetail">
        {{chat.name}}55
        {{chat.lastText}}
      </ion-item>
    </ion-list>-->
{{aaa}}
      <div class="card" ng-repeat="a in api">
			  <div class="item item-thumbnail-left" href="#/app/cropdetail">
			      <img src="img/chaokaset_logo.png">
			      <h2>{{a.Name}} </h2>
			      <p>{{a.City}}</p>
			      <p>{{a.Country}}</p>
			  </div>
			</div>
  </ion-content>
</ion-view>
